* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    background-color: blanchedalmond;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    font-family: 'Sonsie One';font-size: 22px;
}
.column {
    float: left;
    padding: 10px;
}
.column.side {
    font-size: 10px;
    width: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 16px;
  }

.column.middle{
    width: 50%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column.side, .gameBoard {
        width: 100%;
    }
}

table {
    margin-left:auto; 
    margin-right:auto; 
    width: 551px; 
    -webkit-user-select: none; 
    
  }
  td {
    height: 175px;
    width: 175px;
    text-align: center;
    font-size: 120px;
    border: 2px solid #5f5e5e5d;
    -webkit-border-radius: 10px;
  }

